@import './Variables.css';

html {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-transform: lowercase;
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.App {
  text-align: center;
}

.heading {
  width: 95%;
  text-align: left;
  margin: auto;
  color: var(--font-color);
  font-size: 1.5rem;
  margin-bottom: 0px;

  p {
    margin-bottom: 1rem;
  }
}

.heading-white {
  color: #FFFFFF;
  font-size: 2rem;
}

.paragraph {
  color: var(--font-color);
}

.nav-back {
  display: flex;
}

.nav-back-logo {
  display: none;
}

.full-height {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon {
  padding-right: 1em;
}

.icon-medium-scale {
  font-size: 1.5em;
}

.menu-items {
  display: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  left: 0;
  max-height: 20%;
}

.footer {
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-a {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: 100%;
}

.footer-b {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  border-left: 0.1px solid gray;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 2rem;

  h2 {
    font-size: 1rem;
  }
}

.footer-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1px solid gray;
}

.icons {
  width: 100%;
  align-items: center;
}

.social-icon {
  font-size: 2rem;
}

.menu-item {
  align-items: center;
  display: flex;
  width: 100%;
}

.small-padding-top {
  padding-top: 1em;
}

.small-padding-bottom {
  padding-bottom: 1em;
}

.small-padding-right {
  padding-right: 1em;
}

.small-padding-left {
  padding-left: 1em;
}

.black-background{
  background-color: black;
}

.white-color {
  color: white;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.tiny-margin-top {
  margin-top: 0.4em;
}

.tiny-margin-bottom {
  margin-bottom: 0.4em;
}

.tiny-margin-right {
  margin-right: 0.4em;
}

.tiny-margin-left {
  margin-left: 0.4em;
}

.small-margin-top {
  margin-top: 1em;
}

.small-margin-right {
  margin-right: 1em;
}

.small-margin-left {
  margin-left: 1em;
}

.small-margin-bottom {
  margin-bottom: 1em;
}

.medium-margin-top {
  margin-top: 2em;
}

.medium-margin-right {
  margin-right: 2em;
}

.medium-margin-left {
  margin-left: 2em;
}

.large-margin-top {
  margin-top: 3em;
}

.large-margin-bottom {
  margin-bottom: 3em;
}

.large-margin-left {
  margin-left: 3em;
}

.large-margin-right {
  margin-right: 3em;
}

.medium-padding-left {
  padding-left: 2em;
}

.medium-padding-right {
  padding-right: 2em;
}

.medium-padding-top {
  padding-top: 2em;
}

.medium-padding-bottom {
  padding-bottom: 2em;
}

.small-padding {
  padding: 1em;
}

.medium-padding {
  padding: 2em;
}

.primary-color {
  color: #DC5F00;
}

.small-font {
  font-size: 0.8rem;
}

.tiny-font {
  font-size: 0.6rem;
}

/* Background Image */
.image-container {
  width: 80%;
  padding-left: 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  max-width: 100%;
  height: auto;
}

.text-container {
  color: var(--font-color);
  margin-bottom: 0px;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-accordion-summary {
  display: flex;
}
.desktop-accordion-summary {
  display: none;
}
.mobile-accordion-details {
  display: flex;
}
.desktop-accordion-details {
  display: none;
}
.desktop-accordion-icon {
  display: none;
}
.mobile-accordion-icon {
  display: flex;
}

.main-text {
  font-size: 3rem;
  margin-bottom: 0;
}

.sub-text {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0px;
}

/* Card */
.card-container {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  height: 100%;
  padding: 1em 0 2em;
  /* border-radius: 10px; */
  background-color: white;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
  /* border-right: 1px solid var(--tertiary-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.tickbox-card-card-container {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  height: 100%;
  padding: 1em 0 2em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.card-image {
  height: 120px;
  width: 120px;  
}

.card-heading,
.card-subheading {
  width: 80%;
  text-align: center;
}

.card-heading {
  font-size: 2.5rem;
}

.card-subheading {
  font-size: 1.25rem;
}

.action-button {
  width: 30%;;
}

/* Package */
.package-container {
  width: 80%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.package-image {
  height: 120px;
  width: 120px;  
}

.package-info {
  text-align: left;
}

.package-heading {
  font-size: 2.5rem;
  color: var(--secondary-color);
  text-align: center;
}

.package-subheading {
  font-size: 1.25rem;
  text-align: center;
}

.package-action {
  display: flex;
}
/* Graphic Card */
.graphic-card-container {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
}

.graphic-card-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.graphic-card-text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.graphic-card-heading {
  color: white;
  width: 90%;
  margin: auto;
}

.graphic-card-subheading {
  margin-bottom: 3em;
  color: white;
}

/* General */
.secondary-color {
  color: var(--secondary-color);
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.large-padding-left {
  padding-left: 2em;
}

.large-padding-right {
  padding-right: 2em;
}

.large-padding-top {
  padding-top: 2em;
}

.large-padding-bottom {
  padding-bottom: 2em;
}

.large-padding {
  padding: 2em;
}

.line-space {
  line-height: 2.3;
}

/* Tickbox card */
.tickbox-card-heading {
  font-size: 2rem;
}

.tickbox-card-price {
  font-size: 1.2rem;
}

/* Tickbox pill */
.tickbox-pills-container {
  display: none;
}

/* Enquire card */
.enquire-card {
  margin-top: calc(80px + 2%);
  margin-left: 2em;
  margin-right: 2em;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  background-color: white;
}

.enquire-card-info {
  display: none;
}

.enquire-form {
  width: 100%;
  background-color: #F0EFEA;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.enquire-steps {
  text-align: left;
}

.enquire-step {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.enquire-container {
  display: flex;
  flex-direction: column;
}

.tickbox-card-container {
  height: auto;
  margin-bottom: 3rem;
}

.tickbox {
  display: flex;
  width: 80%;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.tickbox-text {
  text-align: left;
  font-size: 0.8rem;
}

.vertical-action-button {
  display: none;
}

h1 {
  font-weight: normal;
}

.header {
  position: fixed;
  top: 0;
  width: 80%;
  background-color: var(--background-color);
  z-index: 1000;
  display: flex;
  height: 60px;
  transition: transform 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.header--visible {
  transform: translateY(0);
}

.header--hidden {
  transform: translateY(-100%);
}

.block {
  display: block;
}

@media (min-width: 768px) {
  .heading-white {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: left;
  }

  p {
    text-align: left;
  }

  .heading {
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
  }

  .menu-icon {
    display: none;
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
  }

    /* Background Image */
  .image-container {
    width: 80%;
    padding-left: 10%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .background-image {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
  }

  .text-container {
    color: var(--font-color);
    width: 100%;
    margin-bottom: 0px;
    padding-left: 2rem;
  }

  .home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .offer-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
  }

  .card-container {
    width: 30vw;
    margin-top: 2em;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    height: 80%;
    padding: 1em 0 2em;
    /* border-radius: 10px; */
    background-color: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  .card-container:hover {
    transform: translateY(-10px);
  }

  .graphic-cards-container {
    display: flex;
    flex-direction: row;
  }

  .graphic-card-container {
    margin-top: 2em;
    border-radius: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  .graphic-card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .graphic-card-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30vw;
  }
  
  .graphic-card-heading {
    color: white;
    width: 80%;
    height: 5rem;
    margin: auto;
    position: relative;
  }
  
  .graphic-card-subheading {
    margin-bottom: 3em;
    color: white;
  }  
  
  .tickbox-container {
    display: none;
  }

  .tickbox-card-heading {
    font-size: 2rem;
  }

  .tickbox-card-container {
    height: auto;
    margin-top: 3rem;
  }

  .tickbox-card-price {
    font-size: 2.5rem;
  }

  .tickbox-text {
    font-size: 1.25rem;
    /* height: 2.5rem; */
  }


  .tickbox-card-card-container {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    height: 100%;
    padding: 1em 0 2em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    transition: transform 0.2s ease-in-out;
  }

  .tickbox-card-card-container:hover {
    transform: scale(1.1);
  }

  .enquire-card {
    background-color: var(--secondary-color);
    border-radius: 6px;
  }

  .enquire-form {
    width: 40%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .enquire-card-info {
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-left: 7.5%;
    border-radius: 6px;
  }

  .enquire-footer-container {
    width: 100%;
  }

  .main-text {
    font-size: 7rem;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: left;
  }
  
  .sub-text {
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    line-height: 1.8;
  }

  .nav-back {
    display: none;
  }
  
  .nav-back-logo {
    display: flex;
    align-items: center;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mobile-accordion-summary {
    display: none;
  }
  .desktop-accordion-summary {
    display: flex;
  }
  .mobile-accordion-details {
    display: none;
  }
  .desktop-accordion-details {
    display: flex;
  }
  .mobile-accordion-icon {
    display: none;
  }
  .desktop-accordion-icon {
    display: flex;
  }

  /* Package */
  .package-container {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease-in-out;
    box-shadow: none;
    padding: 0;
  }

  .vertical-action-button {
    background-color: #DC5F00;
    height: 240px;
    width: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    transition: width 0.2s ease-in-out;
    margin-left: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .package-container:hover {
    transform: scale(1.1);
    cursor: pointer;
    .vertical-action-button {
      width: 150px;
    }
  }

  .package-image {
    height: 240px;
    width: 240px;
    margin-right: 3rem;
  }

  .package-info {
    text-align: left;
  }

  .package-heading {
    font-size: 3rem;
    color: var(--secondary-color);  
    text-align: left;
  }

  .package-subheading {
    font-size: 1.2rem;
    text-align: left;
    height: 5rem;
  }

  .tickbox-pill-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
  }

  .tickbox-pill-container:hover {
    transform: scale(1.1);
    .tickbox-vertical-action-button {
      width: 150px;
    }
  }

  .tickbox-pill-header {
    padding: 2rem;
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    background-color: white;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .tickbox-vertical-action-button {
    background-color: #DC5F00;
    height: auto;
    width: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    transition: width 0.2s ease-in-out;
    margin-left: 3rem;
  }

  .tickbox-pill-heading {
    font-size: 3rem;
    transition: 0.2s ease-in-out;
  }

  .tickbox-pill-price {
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }

  .tickbox-pill-points {
    width: calc(100% - 20% - 50px);
    padding-right: 100px;
  }

  .tickbox-pills-container {
    display: flex;
    flex-direction: column;
  }

  .package-action {
    display: none;
  }

  .enquire-card-info-heading {
    font-size: 2rem;
  }

  .enquire-steps {
    font-size: 1rem;
  }

  .footer-container {
    position: relative;
    bottom: 0;
    margin-top: 5rem;
  }

  .footer {
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-a {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    height: 100%;
  }

  .footer-b {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    border-left: 0.1px solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 2rem;
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1px solid gray;
  }

  .icons {
    width: 100%;
    align-items: center;
  }

  .social-icon {
    font-size: 2rem;
  }

  /* Typewriter.css */
  .typewriter {
    display: inline-block;
  }

  .cursor {
    display: inline-block;
    margin-left: 1px;
    color: var(--font-color);
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .container {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    padding-top: 5%;
    height: 100vh;
  }

  .skills-container {
    width: 100%;
  }

  .skill {
    background-color: #F0EFEA;
    padding: 20px;
    text-align: center;
    width: 25%;
    height: 30vh;
  }
  
  .skill-heading {
    font-size: 1rem;
    margin: 10px 0;
    margin-left: 10px;
    color: var(--font-color);
  }
  
  .skill-description {
    font-size: 0.85em;
    color: var(--tertiary-color)
  }

  .skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill-header {
    display: flex;
    align-items: center;
  }
}